.quiz-container {
    background: linear-gradient(135deg, #f6d365 0%, #fda085 100%);
    color: #000;
    padding: 20px;
    border-radius: 10px;
    width: 80%;
    margin: auto;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
  }
  
  .quiz-heading {
    font-family: 'Arial', sans-serif;
    font-size: 2rem;
  }
  
  .timer {
    font-family: 'Courier New', monospace;
    font-size: 1.2rem;
    margin-bottom: 20px;
  }
  
  .questions-container {
    display: flex;
    flex-direction: column;
    gap: 15px;
  }
  
  .question {
    background: rgba(182, 225, 226, 0.9);
    padding: 15px;
    border-radius: 10px;
    margin-bottom: 15px;
  }
  
  .question-text {
    color: #000;
    font-family: 'Verdana', sans-serif;
    font-size: 1.2rem;
    margin-bottom: 10px;
  }
  
  .option-button {
    display: block;
    width: 80%;
    margin: 10px auto;
    padding: 10px;
    border: none;
    border-radius: 5px;
    color: #fff;
    font-size: 1rem;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.3s;
  }
  
  .option-button.selected {
    border: 2px solid #130303;
  }
  
  .option-button:hover {
    transform: scale(1.05);
  }
  
  .submit-button {
    background-color: #0a6c0e;
    color: #fff;
    border: none;
    padding: 15px 30px;
    font-size: 1.2rem;
    border-radius: 5px;
    cursor: pointer;
    margin-left:399px;
    margin-right:399px;
    margin-top:99px;
    transition: background-color 0.3s;
  }
  
  .submit-button:hover {
    background-color: #45a049;
  }
  
  .result {
    text-align: center;
  }
  
  .chart-container {
    margin: 20px auto;
    width: 40%;
  }
  

  .back-button {
    background-color: #afcfc9;
    color: #fff;
    border: none;
    padding: 15px 30px;
    font-size: 1.2rem;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  
  .back-button:hover {
    background-color: #c70039;
  }
  